body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;

  display: block;
  min-width: 100%;
  min-height: 100vh;
}

.navbar {
  background: #111827;
  padding: 5px 40px;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #22c55e;
}

.container {
  width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
}